.carousel-wrapper {
  width: 100%;
  overflow: hidden;
}

.carousel-img-container {
  height: 500px;
  width: 100%;
  position: relative;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
 
}

@media (max-width: 768px) {
  .carousel-img-container {
    height: 250px;
  }
}

.post-card {
  opacity: 0.9;
  transition: opacity 0.3s ease;
  text-decoration: none; 
  color: inherit; 
  border-radius: 20px;
}

.post-card:hover {
  opacity: 1;
  transform: scale(1.02);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card-img{
  border-right: 15px;
  border-left: 15px;
}


